
body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

a, a:visited {
text-decoration: none;
color: #333;
}

.answer {
  text-align: center;
}

.selected {
  background-color: #445155;
}

.start {
text-align: center;
margin: -3em 0 1em 0;
}

.q {
  margin-top: 1rem;
text-align: center;
font-weight: bold;
}

.n1, .n2, .n3, .n4, .n5, .results {
display: none;
margin-top: -1rem;
}


/* initial status of progress bar numbers */
#nci1, #nci2, #nci3, #nci4, #nci5 {
 display: none; 
 list-style-type: none;

}

/* main content box */
.questions {
background-color: black;
width: 550px;
height: 450px;
min-height: 350px;
margin: 25px 0 0 25px;
border-style: double;
border-color: white;
border-radius: 100px;
padding: 0 0 0 .25em;
}

.numbers {
margin-left: 1.29rem;
}

.numbers ul {
  display: inline-block;
}

.numbers li {
  padding: .5em;
  text-align: center;
  display: inline-block;
  margin: 1.33rem 1.33rem 1.33rem 1.5rem;

}

h1 {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0 2.75rem;
  padding-top: 6rem;
  margin-left: 5rem;
  color: #FDFDFD;
  /*text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;*/
  font-size: 3.2rem;
  -webkit-text-stroke: 0px black;
}

h3 {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  color: #FDFDFD;


}

.numberCircle {
    border-radius: 100%;

    width: 18px;
    height: 18px;
    padding: 7px 6px 7px 6px;

    background: #fff;
    border: 2px solid #666;

    text-align: center;
    font: 15px Arial, sans-serif;
}

.numberCircleInverted {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    padding: 7px 6px 7px 6px;
    background: #666;
    border: 2px solid #666;
    color: white;
    text-align: center;
    font: 15px Arial, sans-serif;
}




.maincontainer {
height: 100%;
min-height: 100vh;
    width: 100%;
    background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
    background-size: cover;

}

.rightarrow {
display: none;

}

.text {
color: white;
padding: 2rem 1rem 1rem 1rem;
width: 60%;
margin: 0 auto;
}

.arrows {
margin: 2rem auto 0rem auto;
text-align: center;
}

.myButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
  -webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
  box-shadow:inset 0px 1px 0px 0px #dcecfb;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
  background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
  background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
  background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
  background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
  background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
  background-color:#bddbfa;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #84bbf3;
  margin-top: 5px;
  display:inline-block;
  cursor:pointer;
  color: white;
  font-family:Trebuchet MS;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #528ecc;
}

.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
  background:-moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
  background:-webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
  background:-o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
  background:-ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
  background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
  background-color:#80b5ea;
}
.myButton:active {
  position:relative;
  top:1px;
}
